<!DOCTYPE html>
<html>
  <head>
    <title>OTTER</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    
  </head>
  
  <body>

    <style type="text/css">
      header {
	  background-color: black;
	  color: white;
      }

      table {
	  padding: 10px;
	  text-align: center;
	  border-collapse: collapse;
	  width: 100%;
      }

      th {
	  padding: 5px;
	  text-align: center;
	  border-bottom: 3px solid black;
      }

      td {
	    padding: 5px;
	    text-align: center;
	    border-bottom: 1px solid #bebebebe;
      }

      tr:hover {
	  background-color:#bebebebe;
      }      

      input[type=text] {
	  width: 80%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  box-sizing: border-box;
      }
    </style>

    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card w3-left-align w3-large">
	<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-grey w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
	<a href="{{ url_for('catalog.home') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Catalog Home</a>
	<a href="https://github.com/noahfranz13/tide" target="_blank" class="w3-bar-item w3-button w3-hide-small w3-padding-large">API</a>
      </div>
      
      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
	<a href="https://github.com/noahfranz13/tide" target="_blank" class="w3-bar-item w3-button w3-padding-large">API</a>
      </div>
    </div>

    
    <!-- Header -->
    <header class="w3-container w3-center" style="padding: 64px 16px">
      <h1 class="w3-margin w3-jumbo">OTTER</h1>
      <p class="w3-xlarge">The Open Tidal disrupTion Event Repository</p>
    </header>
    
    <!-- Search Function for the Catalog -->
    <div class="w3-center w3-container" style="padding: 32px 16px; background-color: #bebebebe;">
      <h2>Search TDE's</h2>
      <form method="POST">
	<div class="w3-half" style="margin-bottom:3%">
	  <label for="name">TDE Name (string)</label><br>
	  <input name="tdename" type="text"><br>
	  
	  <label for="RA">RA (string formatted like the table below)</label><br>
	  <input name="ra" type="text"><br>
	  
	  <label for="Dec">Dec (string formatted like the table below)</label><br>
	  <input name="dec" type="text"><br>

	  <label for="PhotometryType">Type of Photometry Available (Optical, Radio, X-Ray, UV, Infrared are valid inputs)</label><br>
	  <input name="photoType" type="text"><br>
	</div>
	<div class="w3-half" style="margin-bottom:3%">
	  <label for="Z">Redshift (can be float or comma separated list)</label><br>
	  <input name="z" type="text"><br>

	  <label for="Z">Minimum Redshift (float)</label><br>
	  <input name="minZ" type="text"><br>

	  <label for="Z">Maximum Redshift (float)</label><br>
	  <input name="maxZ" type="text"><br>

	  <label for="SpectraType">Type of Spectra Available (Optical, Radio, X-Ray, UV, Infrared are valid inputs)</label><br>
	  <input name="spectraType" type="text"><br>
	</div>
	<input type='submit' value='Submit' style='width: 20%; height:50%'>
      </form>
    </div>
    
    <!-- Catalog -->
    <div class="w3-row w3-border">
      <div class="w3-half w3-container w3-white w3-center" style="margin-top:3%">
	<center>
	  <div class="w3-center">
	    <h2>TDE Catalog</h2>
	  </div>
	  <table style="font-size:14pt">
	    <tr>
	      <th>TDE Name</th>
	      <th>RA [hrs]</th>
	      <th>Dec [deg]</th>
	      <th>Z</th>
	      <th>Source List</th>
	    </tr>
	    
	    {% for name, tde in tdes.items() %}
              <tr>
		<td class="name"><a href="{{ url_for('catalog.genTDEpages', tdename=name)  }}">{{ name }}</td>
		<td>{{ tde.ra[0]['value'] }}</td>
		<td>{{ tde.dec[0]['value'] }}</td>
		<td>{{ tde.z[0]['value']}}</td>
		<td>{{ tde.fancySources|safe }}</td>
	      </tr>
	    {% endfor %}
	  </table>
	</center>
      </div>
      <div class="w3-half w3-container w3-center" style="margin-top:3%">
	<div class="w3-center">
	  <h2>Catalog Summary</h2>
	  <h3>Number of TDEs: {{ tdes.values()|length }}</h3>
	</div>
	{{ otherHTML|safe }}
      </div>
    </div>    
  </body>
</html>

