<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <body>
    <center>
      <style type="text/css">

	header {
	  background-color: black;
	  color: white;
	}

	table {
	  padding: 10px;
	  text-align: center;
	  border-collapse: collapse;
	  width: 100%;
      }
	
	th {
	    padding: 5px;
	    text-align: center;
	    border-bottom: 3px solid black;
	}
	
	td {
	    padding: 5px;
	    text-align: center;
	    border-bottom: 1px solid #bebebebe;
	}

	tr:hover {
	    background-color:#bebebebe;
	}      
	
        </style>

      <!-- Navbar -->
      <div class="w3-top">
	<div class="w3-bar w3-white w3-card w3-left-align w3-large">
	  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-grey w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
	  <a href="{{ url_for('catalog.home') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Catalog Home</a>
	  <a href="https://github.com/noahfranz13/otter" target="_blank" class="w3-bar-item w3-button w3-hide-small w3-padding-large">API</a>
	</div>
	
	<!-- Navbar on small screens -->
	<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
	  <a href="https://github.com/noahfranz13/otter" target="_blank" class="w3-bar-item w3-button w3-padding-large">API</a>
	</div>
      </div>

      <!-- Header -->
      <header class="w3-container w3-center" style="padding: 64px 16px">
	<h1 class="w3-margin w3-jumbo">{{ tde['name']['default_name'] }}</h1>
	<p class="w3-xlarge">OTTER Catalog Data for {{ tde['name']['default_name'] }}</p>
      </header>
      
      <div class="w3-container w3-center">
	{% if tde['photometry'] is defined and tde['spectra'] is defined %}
	  <div class="w3-container w3-third w3-center">
	    <center>
	      <h3>Photometry</h3>
	      {{ plotPhotometry(tde)|safe }}
	    </center>
	  </div>
	  <div class="w3-container w3-third w3-center">
	    <center>
	      <h3>Spectra</h3>
	      {{ plotSpectra(tde)|safe }}
	    </center>
	  </div>
	  <div class="w3-container w3-third w3-center">
            <h3>Information</h3>
	    <table><tr><th style='text-align:left'>Property</th><th style='text-align:left'>Value</th></tr>{{ tde.__repr__(html=True)|safe }}</table>
          </div>
	{% elif tde['photometry'] is defined and tde['spectra'] is not defined %}
	  <div class="w3-container w3-half w3-center">
	    <center>
	      <h3>Photometry</h3>
	      {{ plotPhotometry(tde)|safe }}
	    </center>
	  </div>
	  <div class="w3-container w3-half w3-center">
            <h3>Information</h3>
	    <table><tr><th style='text-align:left'>Property</th><th style='text-align:left'>Value</th></tr>{{ tde.__repr__(html=True)|safe }}</table>
          </div>
	{% elif tde['photometry'] is not defined and tde['spectra'] is defined %}
	  <div class="w3-container w3-half w3-center">
	    <center>
	      <h3>Spectra</h3>
	      {{ plotSpectra(tde)|safe }}
	    </center>
	  </div>
	  <div class="w3-container w3-half w3-center">
            <h3>Information</h3>
	    <table><tr><th style='text-align:left'>Property</th><th style='text-align:left'>Value</th></tr>{{ tde.__repr__(html=True)|safe }}</table>
          </div>
	{% else %}
	  <div class="w3-container w3-center">
            <h3>Information</h3>
	    <table><tr><th style='text-align:left'>Property</th><th style='text-align:left'>Value</th></tr>{{ tde.__repr__(html=True)|safe }}</table>
          </div>
	{% endif %}
	</table>
    </center>
  </body>
</html>
